body {
    background: linear-gradient(90deg, antiqueWhite, #f5cd79);
}
div {
    width: 300px;
    height: 300px;
    position: relative;
    border: 2px solid black;
    margin-top: 10px;
}
button {
    z-index: 5;
    border-radius: 10px;
}
#colors {
    margin: 4px;
}
#sizes {
    position: relative;
    margin: 5px;
}
.corner {
    position: relative;
    margin: 2px;
}
#box {
    animation: ;
    animation-direction: ;
}
@keyframes regularSpeed {
    0% {top: 0px; width: 300px; height: 300px;}
    25% {right: 0px; width: 200px; height: 200px; background: ;}
    50% {width: 150px; height: 150px;}
    75% {left: 0px; width: 100px; height: 100px; background: ;}
    100% {bottom: 0px; width: 50px; height: 50px;}
}
#box:hover {
    animation-name: regularSpeed;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}