body{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}
.headline{
    font-size: 22px;
}
.inp-dis{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
.btn{
    color: #ff3434;
    border: 2px solid #ff3434;
    background: white;
    font-size: 18px;
    box-shadow: 0 0 10px #737373ca;
    margin: 15px 5px 18px;
    padding: 5px 12px;
    font-weight: bold;
    outline: none;
}
.btn:hover{
    box-shadow: 0 0 10px #737373ca inset;
    transition: 0.3s;
}
#rest:hover{
    background: #ff3434;
    color: white;
    transition: 0.3s;
}