body{
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	text-align: center;
    font-family: 'Regularme';
    color: #384047;
    background-image: url("images/large.png");
    margin:0;
    padding:0;
    background-color: #eeeeee;
    content: unset;
}

.main {  
    display: grid;  
    grid-template-columns: 0.1fr 3fr 0.1fr;  
}

*, *:before, *:after {
  box-sizing: border-box;
}

.title{
	font-size: 1.2em;
	margin: 0;
	margin-top: 13vh;
	font-family: 'Lightme';
	width: auto;
	display: inline-block;
}

.container{
	position: relative;
	display: inline-block;
	font-size: 1em;
	text-align: center;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.subcontainer{
	width: auto;
	display: inline-block;
	margin:10px;
	margin-right:auto;
	margin-left:auto
}

#parent{
	display: inline-block;
}
.text{
	font-family: 'Regularme';
	font-weight: 600;
	font-size: 1.2em;
}
.answer{
	margin: 0;
	margin-top: 25px;
	min-width: 250px;
	width: auto;
	font-family: 'Lightme';
	padding:0 25px;
	border: solid 1px #5628EE;
	border-radius : 30px;
	box-shadow: 0 4px 20px rgba(86, 40, 238, 0.15);
	font-weight: 600;
	margin-bottom: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-family: 'Regularme';
  border-radius: 20px;
  font-size: 16px;
  height: auto;
  width: 150px;
  margin: 0;
  outline: 0;
  text-align:center;
  padding: 8px;
  background-color: #e8eeef;
  /*color: #8a97a0;*/
  box-shadow: 0 4px 20px rgba(86, 40, 238, 0.15);
  margin-bottom: 5px;
}

@media (min-width:368px){
   .container{
	
   }
	
	}
@media (min-width:492px){
       .container{
	
   }
	
	}
@media (min-width:500px){
   .container{
	
   }
	}


.submitButton{
  position:relative;
  text-align: center;
  margin: 10% 25%;
  min-width: 150px;
}

.load {
  background: #5628EE;
  box-shadow: 0 4px 20px rgba(86, 40, 238, 0.15);
  line-height: 20px;
  cursor: pointer;
  padding: 11px;
  padding-right: 33px;
  border-radius: 25px;
  color: #ffffff;
  transition: transform .2s ease, background .3s ease, box-shadow .3s ease;
}

.load:hover {
  box-shadow: 0 4px 16px rgba(63, 220, 117, 0.18);
}


.load span {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 4px 0 0;
  position: relative;
  overflow: hidden;
}
.load span:before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #5628EE;
  border-radius: 50%;
  transform: scale(0);
  transition: transform .3s ease, background .3s ease;
}
.load.loading span {
  background: none;
  transition: background .1s ease .3s;
}
.load.loading span:before {
  transform: scale(1);
}

.load.loading.loaded span {
  background: #ffffff;
  transition: background .1s ease 0s;
}
.load.loading.loaded span:before {
  background: #3FDC75;
  transform: scale(0);
}


.load span svg {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  z-index: 1;
}
.load span svg:nth-child(1) {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  fill: none;
  margin: 0;
  stroke: #ffffff;
  stroke-dashoffset: 80.248;
  stroke-dasharray: 40.124;
}
.load span svg:nth-child(2) {
  fill: #5628EE;
}
.load span svg:nth-child(3) {
  fill: #5628EE;
  transform: translateY(20px);
  transition: transform 0.4s cubic-bezier(0.200, 0.900, 0.40, 1.375);
}

.load:hover span svg:nth-child(2) {
    transform: translateY(-20px);
}
.load:hover span svg:nth-child(3) {
    transform: translateY(0);
}

.load.loading span svg:nth-child(1) {
  animation: turn 1.9s linear infinite forwards, path 1.9s linear infinite forwards;
}
.load.loading span svg:nth-child(2) {
  transform: translateY(-20px);
}
.load.loading span svg:nth-child(3) {
  opacity: 0;
  transform: translateY(0) scale(0.6);
}

.load.loading.loaded span svg:nth-child(1) {
  animation: none;
}
.load.loading.loaded span svg:nth-child(3) {
  fill: #3FDC75;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.200, 0.900, 0.40, 1.375) 0.3s, opacity 0.4s ease 0.25s;
}


.load ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 20px;
  width: 70px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .3s ease;
}

.load.loading ul {
    transform: rotateX(90deg);
}
.load.loading.loaded {
  background: #3FDC75;
  box-shadow: 0 4px 20px rgba(63, 220, 117, 0.15);
}
.load.loading.loaded ul {
  transform: rotateX(180deg);
}

.load ul li {
  --rotateX: 0deg;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform-origin: 50% 50%;
  transform: rotateX(var(--rotateX)) translateZ(10px);
}
.load ul li:nth-child(2) {
  --rotateX: -90deg;
}
.load ul li:nth-child(3) {
  --rotateX: -180deg;
}


@keyframes turn {
  100% {
        transform: rotate(360deg);
  }
}
@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}

@font-face{
	font-family:'Regularime';
	src:url("fonts/36EF76_0_0.eot");
	src:url("fonts/36EF76_0_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_0_0.woff2") format("woff2"),
		url("fonts/36EF76_0_0.woff") format("woff"),
		url("fonts/36EF76_0_0.ttf") format("truetype")
	}
@font-face{
	font-family:'Thinime';
	src:url("fonts/36EF76_1_0.eot");
	src:url("fonts/36EF76_1_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_1_0.woff2") format("woff2"),
		url("fonts/36EF76_1_0.woff") format("woff"),
		url("fonts/36EF76_1_0.ttf") format("truetype")
	}
@font-face{
	font-family:'Boldime';
	src:url("fonts/36EF76_2_0.eot");
	src:url("fonts/36EF76_2_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_2_0.woff2") format("woff2"),
		url("fonts/36EF76_2_0.woff") format("woff"),
		url("fonts/36EF76_2_0.ttf") format("truetype")
	}
@font-face{
	font-family:'UltraBoldme';
	src:url("fonts/36EF76_3_0.eot");
	src:url("fonts/36EF76_3_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_3_0.woff2") format("woff2"),
		url("fonts/36EF76_3_0.woff") format("woff"),
		url("fonts/36EF76_3_0.ttf") format("truetype")
	}
@font-face{
	font-family:'Regularme';
	src:url("fonts/36EF76_4_0.eot");
	src:url("fonts/36EF76_4_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_4_0.woff2") format("woff2"),
		url("fonts/36EF76_4_0.woff") format("woff"),
		url("fonts/36EF76_4_0.ttf") format("truetype")
	}
@font-face{
	font-family:'UltraLightme';
	src:url("fonts/36EF76_5_0.eot");
	src:url("fonts/36EF76_5_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_5_0.woff2") format("woff2"),
		url("fonts/36EF76_5_0.woff") format("woff"),
		url("fonts/36EF76_5_0.ttf") format("truetype")
	}
@font-face{
	font-family:'Lightme';
	src:url("fonts/36EF76_6_0.eot");
	src:url("fonts/36EF76_6_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_6_0.woff2") format("woff2"),
		url("fonts/36EF76_6_0.woff") format("woff"),
		url("fonts/36EF76_6_0.ttf") format("truetype")
	}
@font-face{
	font-family:'Heavyme';
	src:url("fonts/36EF76_7_0.eot");
	src:url("fonts/36EF76_7_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_7_0.woff2") format("woff2"),
		url("fonts/36EF76_7_0.woff") format("woff"),
		url("fonts/36EF76_7_0.ttf") format("truetype")
	}
@font-face{
	font-family:'SemiBoldme';
	src:url("fonts/36EF76_8_0.eot");
	src:url("fonts/36EF76_8_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_8_0.woff2") format("woff2"),
		url("fonts/36EF76_8_0.woff") format("woff"),
		url("fonts/36EF76_8_0.ttf") format("truetype")
	}
@font-face{
	font-family:'Boldme';
	src:url("fonts/36EF76_9_0.eot");
	src:url("fonts/36EF76_9_0.eot?#iefix") format("embedded-opentype"),
		url("fonts/36EF76_9_0.woff2") format("woff2"),
		url("fonts/36EF76_9_0.woff") format("woff"),
		url("fonts/36EF76_9_0.ttf") format("truetype")
	}
	



#banner {
	display: unset;
    all: unset;
    border-radius: 30px!important;
    position: fixed!important;
    bottom: 24px!important;
    right: 24px!important;
    height: 45px!important;
    width: 43px!important;
    cursor: pointer!important;
    white-space: nowrap!important;
    overflow: hidden!important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)!important;
    transition: all 0.3s 0.5s ease!important;
    transition-delay: 0.1s!important;
    z-index: 3!important;
    background-image: url("images/banner.png");
    background-size: cover!important;
    border: 5px solid white!important;
    background-color: white!important;
}
#banner:hover, #banner:active {
    width: 155px!important;
    height:45px!important;
    transition-delay: 0s!important;
}

@media screen and (max-width: 700px){
#banner {
    right: 50%!important;
    transform: translateX(50%)!important;
    width: 155px!important;
   }
}
