body {
    text-align: center;
    background-color: lightyellow;
}
.password {
    background-color: white;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    text-align: center;
}
#pass {
    font-size: 30px;
    font-family: Courier New;
}
h1 {
    color: #242424;
    font-family: fantasy;
    font-size: 28px;
    margin-top: 20px;
}
button {
    border: solid 1px black;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 25px;
    background-color: lightGreen;
    box-shadow: darkGreen;
}
button:active {}
#mensaje {
    border: solid 1px darkGray;
    padding: 10px;
    border-radius: 5px;
    background-color: lightGrey;
}
.a {
    background-color: lightBlue;
    padding: 30px 12px 50px 12px;
    margin: 10px;
    border: solid 1.7px black;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
}
a {
    text-decoration: none;
    color: darkGreen;
}