* {
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
.c {
    text-align: left;
}
body,
td,
th {
    font-size: 12px;
}
a:link {
    color: #666;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: underline;
    color: #666;
}
a:active {
    text-decoration: none;
    color: #F00;
}
#code {
    text-align: left;
}